body {
    background-image: url(/static/images/custombg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 20px;
}

#title {
    font-size: 20px;
    margin-bottom: 20px;
}

input[type="text"], select {
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
    margin: 5px;
    border: 2px solid #fff;
    background: #222;
    color: #fff;
    width: 80%;
}

button {
    font-family: 'Press Start 2P', cursive;
    padding: 10px 20px;
    margin: 10px;
    background: rgb(255, 136, 255);
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background: rgb(255, 33, 255);
}

.question-block {
    border: 2px solid #fff;
    margin: 15px 0;
    padding: 10px;
}

.options-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.option-label {
    margin: 5px 0;
}

.delete-btn {
    font-family: 'Press Start 2P', cursive;
    padding: 5px 10px;
    margin: 10px;
    background: red;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
}
/* 
#publishPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 4px solid #333;
    padding: 20px;
    z-index: 100;
    font-family: 'Press Start 2P', cursive;
    display: none;
}
#publishPopup h2 {
    margin-bottom: 20px;
    font-size: 14px;
} */

.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    font-family: 'Press Start 2P', cursive;
  }
  
  .popup-content {
    background: #fff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
  }
  
  .popup-content p {
    font-size: 12px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .popup-content h2 {
    font-size: 24px;
    color: #111;
    margin-bottom: 30px;
    background: #000;
    color: #0f0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .popup-content button {
    font-size: 12px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #ff4edb;
    color: #000;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .popup-content button:hover {
    background: #ff83e0;
  }
  
  
