{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELECT!</title>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
</head>
<body>
    
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">
            <button id="logout">LOGOUT</button>
        </a>
    {% endif %}

    <a href="{% url 'create' %}">
        <button id="button">CREATE+</button>
    </a>

    <a href="{% url 'code' %}">
        <button id="button1">PLAY<sup id="playPosition">▶</sup></button>
    </a>

    <audio id="clickSound" preload="auto">
        <source src="{% static 'audio/click2.wav' %}" type="audio/mp4">
        Your browser does not support the audio element.
    </audio>
    
    <script src="{% static 'js/select.js' %}"></script>
</body>
</html>